<% render_main_sidebar_menu; render_content_header_breadcrumb %>

<div class="col-md-12">
  <div class="box">

    <div class="box-header with-border">
      <%= link_to_new(url: new_admin_taxonomy_taxon_path) %>
    </div>

    <div class="box-body">
      <table class="table table-striped">
        <tr>
          <%= tag.th Cdx::Taxon.human_attribute_name(:name) %>
          <%= tag.th Cdx::Taxon.human_attribute_name(:description) %>
          <%= tag.th t('admin.actions.all') %>
        </tr>
        <% @collection.by_taxonomy(@taxonomy).each do |object| %>
            <tr>
              <%= tag.td object.name %>
              <%= tag.td object.description %>
              <%#= tag.td link_to_edit(object) %>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
