<!DOCTYPE html>
<html>
<head>
  <title><%= meta_title %></title>
  <%= stylesheet_link_tag 'cdx/admin', media: 'all' %>
  <%= javascript_include_tag 'cdx/admin' %>
  <%= csrf_meta_tags %>

  <%== seo_data_tags %>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <%= render partial: 'cdx/admin/shared/head' %>
</head>
<body id="<%= context_tag %>" class="<%= theme_class %> sidebar-mini">
<div class="wrapper">

  <%= render partial: 'cdx/admin/shared/header' %>
  <%= render partial: 'cdx/admin/shared/main_sidebar' %>

  <div class="content-wrapper">

    <%= render partial: 'cdx/admin/shared/content_header' %>

    <section class="content">
      <div class="row">
        <%= yield %>
      </div>
    </section>
  </div>

</div>

<%= render partial: 'cdx/admin/shared/flash' %>

</body>
</html>
