<!DOCTYPE html>
<html>
<head>
  <title>Cdx</title>
  <%= stylesheet_link_tag 'cdx/admin', media: 'all' %>
  <%= javascript_include_tag 'cdx/admin' %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{controller_name}_#{action_name}" %>">

<%= yield %>

</body>
</html>
