<% if defined?(f) %>
    <div class="box-body">
      <%= f.input :email, as: :email %>
      <%= f.input :password, as: :password %>
      <%= f.input :password_confirmation, as: :password %>
    </div>
    <div class="box-footer">
      <%= link_to_cancel %>
      <%= f.button :submit %>
    </div>

<% end %>