<% render_main_sidebar_menu; render_content_header_breadcrumb %>

<div class="col-md-3">
  <div class="box box-info">
    <div class="box-body box-profile">
      <%= image_tag @object.gravatar_url, class: %w(profile-user-img img-responsive img-circle) %>
      <h3 class="profile-username text-center"><%= @object.full_name %></h3>
      <p class="text-muted text-center"><%= @object.email %></p>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="box">

    <%= simple_form_for([:admin, @object], html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |form| %>
        <%= render partial: 'cdx/admin/users/form', locals: {f: form} %>
    <% end %>

  </div>
</div>
