<% render_main_sidebar_menu; render_content_header_breadcrumb %>

<div class="col-md-12">
  <div class="box">

    <div class="box-header with-border">
      <%= link_to_new %>
    </div>

    <div class="box-body">
      <table class="table table-striped">
        <tr>
          <%= tag.th Cdx::User.human_attribute_name :email %>
          <%= tag.th Cdx::User.human_attribute_name :first_name %>
          <%= tag.th Cdx::User.human_attribute_name :last_name %>
          <%= tag.th t('admin.actions.all') %>
        </tr>
        <% @collection.each do |object| %>
            <tr>
              <%= tag.td object.email %>
              <%= tag.td object.first_name %>
              <%= tag.td object.last_name %>
              <td>
                <%= link_to_edit object %>
                <%= link_to_delete object %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
