<% if defined?(f) %>
    <div class="box-body">
      <%= f.input :acronym %>
      <%= f.input :default_theme %>
      <%= f.input :default_locale, collection: locales_options_tags, input_html: { class: 'select2-simple-search' }, include_hidden: false %>
      <%= f.input :available_locales, collection: locales_options_tags, input_html: { class: 'select2-multiple', multiple: true }, include_hidden: false %>
    </div>
    <div class="box-footer">
      <%= f.button :submit %>
    </div>
<% end %>
