<% if defined?(f) %>
    <div class="box-body">
      <%= f.input :name %>
      <%= f.input :acronym %>
      <%= f.input :domain %>
    </div>
    <div class="box-footer">
      <%= link_to_cancel %>
      <%= f.button :submit %>
    </div>

<% end %>
