<% if defined?(f) %>
    <div class="box-body">
      <% translated_field(f, :name) %>
      <%= f.input :code %>
      <%= f.input :domain %>
      <%= f.input :default, wrapper: :horizontal_boolean %>
    </div>
    <div class="box-footer">
      <%= link_to_return %>
      <%= f.button :submit %>
    </div>
<% end %>
