<% if defined?(f) %>
    <div class="box-body">
      <%= f.input :title %>
      <%= f.input :slug, disabled: true if f.object.persisted? %>
      <%= f.input :content, as: :wysiwyg %>
      <%= f.association :taxon, collection: Cdx::Taxon.all.map { |t| [t.full_path_tag, t.id] }, input_html: { class: 'select2-simple' } %>
    </div>
    <div class="box-footer">
      <%= link_to_return %>
      <%= render partial: 'cdx/admin/shared/publishable/form_actions', locals: { f: f } %>
    </div>
<% end %>
