<% if defined?(f) %>
    <div class="box-body">
      <%= f.input :title %>
      <%# TODO : FriendlyId %>
      <%= f.input :slug, disabled: true if f.object.persisted? %>
      <%= f.input :content, input_html: { class: 'page-content' } %>
      <%= f.input :published_at %>
    </div>
    <div class="box-footer">
      <%= link_to_cancel %>
      <%= f.button :submit %>
    </div>
<% end %>
