<% render_main_sidebar_menu; render_content_header_breadcrumb %>

<div class="col-md-12">
  <div class="box">

    <div class="box-header with-border">
      <%= link_to_new %>
    </div>

    <div class="box-body">
      <table class="table table-striped">
        <tr>
          <%= tag.th Cdx::Site.human_attribute_name(:title) %>
          <%= tag.th Cdx::Site.human_attribute_name(:slug) %>
          <%= tag.th t('admin.actions.all') %>
        </tr>
        <% @collection.each do |object| %>
            <tr>
              <%= tag.td object.title %>
              <%= tag.td object.slug %>
              <td>
                <%= link_to_edit(object) %>
                <%= link_to_destroy(object) %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
