<% render_main_sidebar_menu; render_content_header_breadcrumb %>

<div class="col-md-12">
  <div class="box">

    <div class="box-header with-border">
      <%= link_to_new %>
    </div>

    <div class="box-body">
      <table id="pages-table" data-source="<%= admin_pages_path(format: :json) %>" class="table table-bordered table-hover dataTable">
        <thead>
          <tr>
            <%= tag.th Cdx::Site.human_attribute_name(:title) %>
            <%= tag.th Cdx::Site.human_attribute_name(:slug) %>
            <%= tag.th Cdx::Site.human_attribute_name(:state) %>
            <%= tag.th Cdx::Site.human_attribute_name(:published_on) %>
            <%= tag.th t('admin.actions.all') %>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
