<% current_main_tree = defined?(current_main_tree) ? current_main_tree : nil %>
<% current_sub_tree = defined?(current_sub_tree) ? current_sub_tree : nil %>

<%= main_sidebar_menu_simple_item(current_main_tree, :home, :dashboard, admin_root_path, t('admin.main_sidebar.menu.title.dashboard')) %>

<li class="header"><%= t('admin.main_sidebar.menu.title.contents') %></li>
<%= main_sidebar_menu_simple_item(current_main_tree, :users, :user, admin_users_path, t('activerecord.models.cdx/user.other')) %>

<li class="header"><%= t('admin.main_sidebar.menu.title.parameters') %></li>
<%= main_sidebar_menu_simple_item(current_main_tree, :sites, :gears, admin_sites_path, t('activerecord.models.cdx/site.other')) %>
